streamlit
opencv-python-headless
mediapipe==0.10.35
numpy
pillow
plotly
google-genai
absl-py
certifi
cffi
contourpy
cycler
flatbuffers
fonttools
kiwisolver
matplotlib
packaging
pycparser
pyparsing
python-dateutil
six